@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply block w-full px-4 py-2 outline-none rounded-sm border-solid border border-gray-600 placeholder-gray-400 focus:outline-none focus:ring-4 focus:ring-orange-100 focus:border-orange-400 hover:border-orange-500 data-[invalid=true]:border-red-500 transition-all;
  }

  button {
    @apply outline-none text-lg font-bold inline-flex justify-center py-2 px-4 border border-transparent shadow-lg rounded-md text-white bg-orange-500 border-orange-700 hover:bg-orange-400 focus:outline-none focus:ring-4 focus:ring-orange-100 active:bg-orange-600 disabled:bg-gray-400 disabled:border-gray-400 transition-all;
  }
}

@layer components {
  .card {
    @apply max-w-md w-full shadow-xl rounded-sm bg-white p-6;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}
